.App {
  text-align: center;
  font-family: Arial, sans-serif;
  align-content: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

h1 {
  margin: 0;
}

.Search-container {
  margin-top: 60px;
}

.Search-input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  width: 300px;
}

.Search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.Search-button:hover {
  background-color: #0056b3;
}
